@using WebsiteGiay.Models
@model List<LOAIGIAY>

<ul class="dropdown-menu multi-column columns-3">
        <div class="agile_inner_drop_nav_info">
            <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                <a href="mens.html"><img src="~/Images/imgGiay/cg10.1.jpg" alt=" " /></a>
            </div>
            
            <div class="col-sm-3 multi-gd-img">
                <ul class="multi-column-dropdown">
                    
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.TenLoai</a></li>
                        @*<p><a href="@Url.Action("#", "#", new { @maLoaiGiay=item.MaLoai })" class="aCacHD">@item.TenLoai</a></p>*@
                        
                    }
                    
                </ul>
            </div>
            @*<div class="col-sm-3 multi-gd-img">
                <ul class="multi-column-dropdown">
                    
                    <li><a href="mens.html">Sunglasses</a></li>
                    <li><a href="mens.html">Perfumes</a></li>
                    <li><a href="mens.html">Beauty</a></li>
                    <li><a href="mens.html">Shirts</a></li>
                    <li><a href="mens.html">Sunglasses</a></li>
                    <li><a href="mens.html">Swimwear</a></li>
                </ul>
            </div>*@
            <div class="clearfix"></div>
            
        </div>
</ul>