@using WebsiteGiay.Models
@model List<GIAY>

<div class="tab1">
    <div class="col-md-3 product-men">
        <div class="men-pro-item sismpleCart_shelfItem">
            @foreach (var item in Model)
            {
                <div class="men-thumb-item">
                        <img src="~/Images/imgGiay/@item.HinhMinhHoa" alt="" class="pro-image-front">
                        <img src="~/Images/imgGiay/@item.HinhMinhHoa" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="single.html" class="link-product-add-cart">Xem nhanh</a>
                            </div>
                        </div>
                        <span class="product-new-top">New</span>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">@item.TenGiay</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">@item.DonGia</span>
                            @*<del>$69.71</del>*@
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="@item.TenGiay" />
                                    <input type="hidden" name="amount" value="30.99" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="VNĐ" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>
